
@{
    ViewBag.Title = "درباره ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="abt-banner-wrap">
    <div class="abt-banner jarallax sec-mar">
        <img class="jarallax-img" src="~/Content/images/about-banner.jpg" alt="">
 
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <div class="text">
                            <div class="wrap">
                                <h2>
                                   بزرگترین نمایندگی پخش لوازم آرایش <br>
                                     <strong class="pri-color">در مشهد</strong>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--banner-->
<main class="main dir">
    <div class="container about-top">
        <div class="row sec-mar flx-element">
            <div class="col-md-5 col-sm-5 abt-left">
                <h1 style="padding-right:64px;">
                    <strong class="pri-color"> شرکت نگین جهان آرا طوس  
                        </strong>
                   
                </h1>
                <p>
                    شرکت نگین جهان آرا طوس  همانند بسیاری از شرکت های بزرگ دنیا اهدافی چون رضایت مشتری، ارتقاء کیفیت، افزایش کمیت و کاهش قیمت را در دستور کار خود قرار داده است و با توجه به شرایط کنونی کشور و در راستای اجرای اهداف توسعه ای کشور عزیزمان ایران، ایجاد اشتغال را نیز در برنامه خود قرار داده است و بر آن است تا با دستیابی به دانش و فن آوری تولید روز جهان و بررسی کیفیت مطلوب محصولات، آینده ای روشن را برای مجموعه تحت مدیریت خود رقم زند. ما اعتقاد راسخ داریم و خود را متعهد می دانیم که با تمام توان در نیل به اهداف از پیش تعیین شده تلاش نموده و محصولاتی را وارد نماییم که با استانداردهای جهانی مطابقت داشته باشد، ضمن برآورد نیاز بازارهای داخلی  به لحاظ کمی و کیفی، توان اقتصادی خود را با اتکا به خرید مشتریان عزیزمان مستحکم تر نماییم .
                </p>
                <p>
                    از مهمترین اهداف نگین جهان آرا طوس عرضه لوازم آرایشی وبهداشتی روز دنیا است. از این رو با رعایت اصول فنی و بهداشتی، بکارگیری پیمانکاران متخصص و مجرّب، دپارتمان تحقیق و توسعه، محصولاتی عرضه می نماید که مطابق با ویژگی های مندرج در آخرین استاندارد های جهانی است.
                </p>
                <p>

                    شرکت نگین جهان آرا طوس با همت نیروهای خلاق و با تجربه دائماً به دنبال نوآوری می باشد و از طریق شناسایی نیازها و خواسته های مشتریان سعی در عرضه محصولاتی جدید، با کیفیت و سالم دارد . دریافت نشان ها، لوح ها، تندیسها و تقدیر نامه های مختلف که از سوی سازمان های : استاندارد ملی ایران، رعایت حقوق مصرف کنندگان و تولید کنندگان، وزارت بهداشت، درمان و آموزش پزشکی گوشه ای از افتخارات شرکت نگین جهان آرا طوس می باشد .
                </p>
            </div>
            <!--left-->
            
        </div>
    </div>
    
    
</main>
<!--main-->
