@model JahanAraShop.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm(MVC.Account.SendSmsVerifyCode(), FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    <main class="main">
        <div class="container">
            <div class="row sec-padding">
                <div class="col-md-12 col-sm-12">
                    <div class="login-wrap">
                        <div class="bm-30">
                            @Html.ValidationSummary(true, "", new { @class = "blockdisp text-danger" })
                            <span class="icon lh"><i class="icofont icofont-ui-unlock"></i></span>
                            <h3>فراموشی رمز عبور</h3>
                        </div>
                        <div class="form-group">
                            <label>نام کاربری <span>*</span></label>
                            @Html.TextBoxFor(m => m.PhoneNumber, new { placeholder = " تلفن همراه ", @class = "dir" })
                            @Html.ValidationMessageFor(m => m.PhoneNumber)
                        </div>
                        <div class="form-group">
                            <input type="submit" value="تایید" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

}

