<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JahanAraShop.Getaway.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <JahanAraShop.Getaway.Properties.Settings>
            <setting name="JahanAraShop_Getaway_ir_shaparak_bpm_PaymentGatewayImplService"
                serializeAs="String">
                <value>https://bpm.shaparak.ir/pgwchannel/services/pgw</value>
            </setting>
        </JahanAraShop.Getaway.Properties.Settings>
    </applicationSettings>
</configuration>