
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" href="~/Areas/Admin/Contents/images/favicon.png" type="image/x-icon" />    <!-- Favicon -->
    <link rel="apple-touch-icon-precomposed" href="~/Areas/Admin/Contents/image/apple-touch-icon-57-precomposed.png">	<!-- For iPhone -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Areas/Admin/Contents/image/apple-touch-icon-114-precomposed.png">    <!-- For iPhone 4 Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Areas/Admin/Contents/image/apple-touch-icon-72-precomposed.png">    <!-- For iPad -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Areas/Admin/Contents/image/apple-touch-icon-144-precomposed.png">    <!-- For iPad Retina display -->  
     <link href="~/Areas/Admin/Contents/css/animate.min.css" rel="stylesheet" media="screen" type="text/css" />
    <link href="~/Areas/Admin/Contents/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />  
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Contents/css/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Contents/css/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Contents/css/style.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/jquery.validate-vsdoc.js"></script>
    <script src="~/Content/js/jquery.validate.js"></script>
    <script src="~/Content/js/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/Content/js/jquery.validate.unobtrusive.min.js"></script>
    
    
</head>
<body>
    <div> 
@RenderBody()
    </div>
</body>

</html>
